/*
Palette
fucsia #e479e6
giallo #e1d67a
azzurro #abcfe7
blu #0286fe
viola #8700fe
*/
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    clear:both;
}

/* Utility */
.debug {
    border: 1px solid black;
    height: 100px;
}
/* General */
.container {
    padding: 30px 100px;
    border: 1px solid red;
}
/* Header */
header {
   
}
.logo {
    width: 100%;
    height: 100px;
    background-color: #e479e6;
    margin: 20px auto;
    
}
.hero {
    width: 100%;
    height: 300px;
    background-color: #e1d67a;
    margin: 20px auto;
    
}
 {
    width: 100%;
    height: 100px;
    background-color: #e479e6;
    margin: 20px auto;
}